body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
position:sticky;
top:0;
z-index:1000;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:#38bdf8;
}

.hero{
text-align:center;
padding:120px 20px;
}

button{
padding:12px 25px;
background:linear-gradient(45deg,#38bdf8,#6366f1);
border:none;
color:white;
font-size:16px;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

section{
padding:80px 20px;
text-align:center;
}

.skills{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.card{
background:#1e293b;
padding:15px 25px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.1);
background:#334155;
}

.projects{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.project-card{
background:#1e293b;
padding:20px;
width:280px;
border-radius:12px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
background:#334155;
}

html{
scroll-behavior:smooth;
}