* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: rgba(255,255,255,0.05);
  position: sticky;
  top: 0;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero span {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.05);
  margin: 40px;
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}

.skills .card {
  padding: 15px 20px;
}

/* PROJECTS */
#projects {
  padding: 40px;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  background: rgba(255,255,255,0.1);
}

/* CONTACT */
#contact a {
  color: #38bdf8;
  text-decoration: none;
}
